In [4]:
import configparser
from datetime import datetime
import os
from pyspark.sql import SparkSession
from pyspark.sql.functions import udf, col
from pyspark.sql.functions import year, month, dayofmonth, hour, weekofyear, date_format

In [5]:
config = configparser.ConfigParser()
config.read('dl.cfg', encoding='utf-8')
os.environ['AWS_ACCESS_KEY_ID']=config['AWS']['AWS_ACCESS_KEY_ID']
os.environ['AWS_SECRET_ACCESS_KEY']=config['AWS']['AWS_SECRET_ACCESS_KEY']

In [6]:
def create_spark_session():
    spark = SparkSession \
        .builder \
        .config("spark.jars.packages", "org.apache.hadoop:hadoop-aws:2.7.0") \
        .getOrCreate()
    return spark

In [ ]:
# def process_log_data(spark, input_data, output_data):
#     # get filepath to log data file
#     log_data = '{}/data/log-data'.format(input_data)

#     # read log data file
#     df = spark.read.json(log_data)
    
#     # filter by actions for song plays
#     df = df.filter(df.page == 'NextSong')

#     # extract columns for users table    
#     users_table = df.select(['userId', 'firstName', 'lastName', 'gender', 'level'])
    
#     # write users table to parquet files
#     users_table = users_table.write.parquet('{}/users.parquet'.format(output_data))

#     # create timestamp column from original timestamp column
#     get_timestamp = udf()
#     df = 
    
#     # create datetime column from original timestamp column
#     get_datetime = udf()
#     df = 
    
#     # extract columns to create time table
#     time_table = 
    
#     # write time table to parquet files partitioned by year and month
#     time_table

#     # read in song data to use for songplays table
#     users_table.write.parquet('{}/users.parquet'.format(output_data))
#     song_df = spark.read.parquet('{}/tables/songs.parquet'.format(output_data))

#     # extract columns from joined song and log datasets to create songplays table 
#     songplays_table = songplays.join(song_df, songplays.song == song_df.title, 'inner').select(['ts', 'userId', 'level', 'song_id', 'artist_id', 'sessionId', 'location', 'userAgent'])

#     # write songplays table to parquet files partitioned by year and month
#     songplays_table = songs_table.write.partitionBy("year", "artist_id").parquet('{}/songs.parquet'.format(output_data))

In [ ]:
# log_data = '{}/data/log-data'.format(os.getcwd())

In [ ]:
# df = spark.read.json(log_data)
# df.limit(5).toPandas()

In [9]:
# df.select(['ts', 'userId', 'level', 'songId', 'artistId', 'sessionId', 'location', 'userAgent'])

In [20]:
# get_datetime = udf(lambda x: datetime.fromtimestamp(x))
# df = df.withColumn('date', get_datetime(df.ts))

In [23]:
# song_data = spark.read.json('s3a://udacity-marco/log-data/*.json')
# song_data

In [42]:
# song_data = spark.read.json('s3a://udacity-marco/song-data/song_data/*/*/*/*.json')
# song_data

DataFrame[artist_id: string, artist_latitude: double, artist_location: string, artist_longitude: double, artist_name: string, duration: double, num_songs: bigint, song_id: string, title: string, year: bigint]

In [11]:
# log_data = spark.read.json('s3a://udacity-marco/log-data/*.json')
# log_data

DataFrame[artist: string, auth: string, firstName: string, gender: string, itemInSession: bigint, lastName: string, length: double, level: string, location: string, method: string, page: string, registration: double, sessionId: bigint, song: string, status: bigint, ts: bigint, userAgent: string, userId: string]

In [71]:
# # get filepath to log data file
# log_data = '{}/log-data/*.json'.format('s3a://udacity-marco')

# # read log data file
# songplays = spark.read.json(log_data)

# # # filter by actions for song plays
# songplays = songplays.filter(df.page == 'NextSong')
# songplays.show(5)

AnalysisException: 'Resolved attribute(s) page#801 missing from song#1264,auth#1252,userAgent#1267,level#1258,registration#1262,itemInSession#1255L,sessionId#1263L,ts#1266L,artist#1251,page#1261,userId#1268,lastName#1256,firstName#1253,location#1259,length#1257,method#1260,status#1265L,gender#1254 in operator !Filter (page#801 = NextSong). Attribute(s) with the same name appear in the operation: page. Please check if the right attribute(s) are used.;;\n!Filter (page#801 = NextSong)\n+- Relation[artist#1251,auth#1252,firstName#1253,gender#1254,itemInSession#1255L,lastName#1256,length#1257,level#1258,location#1259,method#1260,page#1261,registration#1262,sessionId#1263L,song#1264,status#1265L,ts#1266L,userAgent#1267,userId#1268] json\n'

In [54]:
# #     # read in song data to use for songplays table
# #     song_df = 

# #     # extract columns from joined song and log datasets to create songplays table 
# #     songplays_table = 

# #     # write songplays table to parquet files partitioned by year and month
# #     songplays_table


# song_df = spark.read.parquet('s3a://udacity-marco/tables/songs.parquet')
# song_df

DataFrame[song_id: string, title: string, duration: double, year: int, artist_id: string]

In [55]:
# artists_df = spark.read.parquet('s3a://udacity-marco/tables/artists.parquet')
# artists_df

DataFrame[artist_id: string, artist_name: string, artist_location: string, artist_latitude: double, artist_longitude: double]

In [60]:
# songplays.select(['ts', 'userId', 'level', 'song_id', 'artist_id', 'sessionId', 'location', 'userAgent'])

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- year: integer (nullable = true)
 |-- artist_id: string (nullable = true)

root
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- year: integer (nullable = true)
 |-- artist_id: string (nullable = true)

DataFrame[ts: bigint, userId: string, level: string, song_id: string, artist_id: string, sessionId: bigint, location: string, userAgent: string]

In [30]:
# songplays.limit(5).toPandas()

,artist,auth,firstName,gender,itemInSession,lastName,length,level,location,method,page,registration,sessionId,song,status,ts,userAgent,userId
0,Harmonia,Logged In,Ryan,M,0,Smith,655.77751,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,Sehr kosmisch,200,1542241826796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
1,The Prodigy,Logged In,Ryan,M,1,Smith,260.07465,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,The Big Gundown,200,1542242481796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
2,Train,Logged In,Ryan,M,2,Smith,205.45261,free,"San Jose-Sunnyvale-Santa Clara, CA",PUT,NextSong,1.541017e+12,583,Marry Me,200,1542242741796,"""Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/5...",26
3,None,Logged In,Wyatt,M,0,Scott,NaN,free,"Eureka-Arcata-Fortuna, CA",GET,Home,1.540872e+12,563,None,200,1542247071796,Mozilla/5.0 (Windows NT 6.1; WOW64; Trident/7....,9
4,None,Logged In,Austin,M,0,Rosales,NaN,free,"New York-Newark-Jersey City, NY-NJ-PA",GET,Home,1.541060e+12,521,None,200,1542252577796,Mozilla/5.0 (Windows NT 6.1; rv:31.0) Gecko/20...,12

In [28]:
# song_df.limit(5).toPandas()

,song_id,title,duration,year,artist_id
0,SOAOIBZ12AB01815BE,I Hold Your Hand In Mine [Live At Royal Albert...,43.36281,2000,ARPBNLO1187FB3D52F
1,SONYPOM12A8C13B2D7,I Think My Wife Is Running Around On Me (Taco ...,186.48771,2005,ARDNS031187B9924F0
2,SODREIN12A58A7F2E5,A Whiter Shade Of Pale (Live @ Fillmore West),326.00771,0,ARLTWXK1187FB5A3F8
3,SOYMRWW12A6D4FAB14,The Moon And I (Ordinary Day Album Version),267.70240,0,ARKFYS91187B98E58F
4,SOWQTQZ12A58A7B63E,Streets On Fire (Explicit Album Version),279.97995,0,ARPFHN61187FB575F6

In [62]:
# df = songplays
# songplays.printSchema()

root
 |-- artist: string (nullable = true)
 |-- auth: string (nullable = true)
 |-- firstName: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- itemInSession: long (nullable = true)
 |-- lastName: string (nullable = true)
 |-- length: double (nullable = true)
 |-- level: string (nullable = true)
 |-- location: string (nullable = true)
 |-- method: string (nullable = true)
 |-- page: string (nullable = true)
 |-- registration: double (nullable = true)
 |-- sessionId: long (nullable = true)
 |-- song: string (nullable = true)
 |-- status: long (nullable = true)
 |-- ts: long (nullable = true)
 |-- userAgent: string (nullable = true)
 |-- userId: string (nullable = true)
 |-- song_id: string (nullable = true)
 |-- title: string (nullable = true)
 |-- duration: double (nullable = true)
 |-- year: integer (nullable = true)
 |-- artist_id: string (nullable = true)

In [ ]:
df = spark.read.json('s3a://udacity-marco/log-data/*.json')

In [ ]:
df = df.withColumn("ts",df.ts.cast('string'))
get_datetime = udf(lambda x: datetime.fromtimestamp(x))
df = df.withColumn('date', get_datetime(df.ts))